<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spring.security.security.UserMapper">
    <select id="findUserByUsername" resultType="com.example.spring.security.security.UserEntity">
        SELECT *
        FROM users
        WHERE username = #{username}
    </select>
    <select id="findRolesByUserId" resultType="string">
        SELECT name
        FROM roles
        WHERE id = #{userId}
    </select>
    <update id="updateUser">
        UPDATE users
        SET username     = #{username},
            emailaddress = #{emailAddress},
            password     = #{password}
        WHERE id = #{id}
    </update>
</mapper>