<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spring.security.security.UserMapper">
    <select id="findUserByUsername" resultType="com.example.spring.security.security.UserEntity">
        SELECT *
        FROM users
        WHERE username = #{username}
    </select>
</mapper>