<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div th:replace="headerFragment :: header"></div>

    <div class="container mt-4">
      <h1>アカウント</h1>
      <p>アカウント情報ページです。アカウント情報の確認変更を行うことができます。</p>
      <div class="row mt-4">
        <div class="col-3" th:insert="accountMenuFragment :: account-menu ('パスワード')"></div>
        <div class="col">
          <form method="post" th:action="@{/home/account/passwordModifySave}" th:object="${passwordModifyForm}">
            <div class="alert alert-danger"
                 th:if="${#fields.hasErrors('newPasswordSame')}">
              新しいパスワードが一致しません。同じパスワードを入力してください。
            </div>
            <div class="form-group">
              <label for="currentPassword">現在のパスワード</label>
              <input type="password" class="form-control"
                     id="currentPassword" th:field="*{currentPassword}"
                     th:classappend="${#fields.hasErrors('currentPassword') ? 'is-invalid' : ''}"/>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('currentPassword')}">正しいパスワードではありません</div>
            </div>
            <div class="form-group">
              <label for="newPassword">新しいパスワード</label>
              <input type="password" class="form-control"
                     id="newPassword" th:field="*{newPassword}"
                     th:classappend="${#fields.hasErrors('newPassword') ? 'is-invalid' : ''}"/>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}">入力してください</div>
            </div>
            <div class="form-group">
              <label for="newPasswordCheck">新しいパスワード（確認）</label>
              <input type="password" class="form-control"
                     id="newPasswordCheck" th:field="*{newPasswordCheck}"
                     th:classappend="${#fields.hasErrors('newPasswordCheck') ? 'is-invalid' : ''}"/>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('newPasswordCheck')}">入力してください</div>
            </div>
            <div class="d-flex flex-row-reverse">
              <a class="btn btn-secondary ml-2" role="button" th:href="@{/home/account/password}" href="#">キャンセル</a>
              <button class="btn btn-primary" type="submit">変更する</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
