<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">Spring Security Simple</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="navbar-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link">Manage</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="navbar-item">
            <a class="nav-link" href="/home/account" th:text="${username}">Account Setting</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-4">
      <h1>アカウント</h1>
      <div class="row mt-4">
        <div class="col-3">
          <div class="list-group">
            <a class="list-group-item list-group-item-action active" href="/home/account">基本</a>
            <a class="list-group-item list-group-item-action" href="/home/account">パスワード</a>
          </div>
        </div>
        <div class="col">

        </div>
      </div>
    </div>
  </body>
</html>
