<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
  <header>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </header>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
      <a class="navbar-brand" th:href="@{/home}">Spring Security Simple</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="navbar-item">
            <a class="nav-link" th:href="@{/home}">ホーム</a>
          </li>
          <li class="navbar-item" sec:authorize="hasRole('ADMIN')">
            <a class="nav-link">管理</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="navbar-item">
            <a class="nav-link" th:href="@{/home/account}" sec:authentication="name">アカウント</a>
          </li>
        </ul>
        <form class="form-inline" method="post" th:action="@{/logout}" action="#">
          <button class="btn btn-secondary" type="submit">ログアウト</button>
        </form>
      </div>
    </nav>
  </body>
</html>
