<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <form method="post" th:action="@{/signup}" th:object="${signUpForm}">
            <div class="form-group">
              <label for="username">ユーザー名</label>
              <input type="text" class="form-control"
                     id="username" th:field="*{username}"
                     th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}"/>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}">入力してください</div>
            </div>
            <div class="form-group">
              <label for="password">パスワード</label>
              <input type="password" class="form-control"
                     id="password" th:field="*{password}"
                     th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"/>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}">入力してください</div>
            </div>
            <button class="btn btn-primary" type="submit">サインアップ</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>